body, html{
    height: 100%;
    margin:0;
    font-family: 'Questrial', sans-serif;
    background-color: #ffffff;
}
  
.clear-floats {
    clear:both;
}
  
.container {
    max-width:960px;
    width:calc(100% - 20px);
    padding:0 10px;
    margin:0 auto;
}
  
.header {
    background:#0aab10;
}
  
.header .logo {
    float:left;
    width:20%;
}
  
.header .logo img {
    height:35px;
}
  
.header .navigation {
    float:right;
    width:80%;
    text-align:right;
}
  
.header a {
    color:white;
    display:inline-block;
    padding:20px 10px;
    margin:0 10px;
    text-decoration:none;
    height: 35px;
    line-height: 35px
}
  
a.button {
    display: inline-block;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration:none;
    color: white;
}

.gallery {
    margin: 5px;
    border: 1px, solid #cccccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777777
}

.gallery img {
    width: 600px;
    height: 400px;
}

.desc {
    padding: 15px;
    text-align: center;
}