body {
    font-family: 'Merienda';
    font-size: 15px;
    background: white
}

ul {
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #0aab0f;
}

li {
    float: left;
    text-align: center;
    margin: auto;
}

li a {
    margin: auto;
    display: block;
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#account {
    background: white;
}

#account ul {
    margin-right: 10px;
    margin-left: 10px;
    background: white;
}

#account li a {
    color: black;
    text-align: bottom;
    font-size: 15px;
}

#account li a:hover {
    background-color: white;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: darkgreen;
}

h3, h4, h5 {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* latin-ext */

@font-face {
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    src: local('Merienda'), local('Merienda-Regular_0_wt'), url(https://fonts.gstatic.com/s/merienda/v7/gNMHW3x8Qoy5_mf8uWMLMIqK_Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    src: local('Merienda'), local('Merienda-Regular_0_wt'), url(https://fonts.gstatic.com/s/merienda/v7/gNMHW3x8Qoy5_mf8uWMFMIo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

nav {
    position: fixed;
    text-align: center;
    margin: auto;
    top: 0px;
    width: 100%;
    background: white;
    z-index: 9999;
}

.active {
    background-color: darkgreen;
    color: white;
}

.gallery {
    margin: 120px 4px;
    border: 1px solid #cccccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777777;
}

.gallery img {
    width: 100%;
    height: 125px;
}

.desc {
    padding: 15px;
    text-align: center;
}

.menublock {
    margin: 120px 0px 0px;
    border: 1px solid #cccccc;
    float: left;
}

.menublock2 {
    margin: 25px 0px 0px;
    border: 1px solid #cccccc;
    float: left;
}

.menu {
    margin: 4px 4px;
    border: 1px solid #cccccc;
    float: left;
    width: 180px;
    height: 300px;
}

.menu:hover {
    border: 1px solid #777777;
    background-color: white;
}

.container h2 {
    padding-top: 30px;
    font-weight: 300;
}

.btn, .btn-two {
    margin: 9px;
}

a[class*="btn"] {
    text-decoration: none;
}

.btn.large, .btn-two.large, .btn-effect.large {
    padding: 20px 40px;
    font-size: 22px;
}
.btn.small {
    padding: 10px 20px;
    font-size: 11px;
}
.btn.green, .btn-two.green {
    background-color: #0aab0f;
}

.btn {
    position: relative;
    border: 0px;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
}

.btn:active {
    top: 4px;
}

.btn.green {
    box-shadow: 0px 4px 0px green;
}

.btn.green:active {
    box-shadow: 0px 0px green;
    background-color: green;
}

.ctr{
    text-align: center;
    background-image: url('images/foods.jpg');
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 657px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
